In [1]:
# importing the libaries

import pandas as pd
import numpy as np

In [2]:
ad = pd.read_csv(r"F:\carreer\adultKNN.csv") # loading the data

# Data cleaning and data preprocessing

In [3]:
ad.head() # taking overiview of the data

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [4]:
ad.isnull().sum() # cheking the null

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

# but here null are  there in the form of ?

In [5]:
# so for that we to run a code i.e
ad.loc[: , (ad== '?').any()].columns

Index(['workclass', 'occupation', 'native-country'], dtype='object')

In [6]:
ad.workclass.value_counts()
ad.workclass= ad.workclass.replace({"?" : "Private"})

In [7]:
ad.occupation.value_counts()
ad.occupation= ad.occupation.replace({"?" : "Other-service"})

In [8]:
ad['native-country'].value_counts()
ad['native-country'] = ad['native-country'].replace({"?" : "United-States"})

In [9]:
ad.loc[: , (ad== '?').any()].columns 

# again checking the data wheter the ? has been removed form the data

Index([], dtype='object')

In [10]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [11]:
ad.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,Private,103497,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,30,United-States,<=50K

In [12]:
len(ad['educational-num'].value_counts()) 

# here this we are checking for nominal and ordinal column 
#so that we can use the le fit transform

16

In [13]:
len(ad.education.value_counts())

16

# therefore we going to drop the education column as they giving the same meaning

In [14]:
ad = ad.drop(['education'], axis = 1)

In [15]:
ad.head(2)

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K

In [16]:
ad.occupation = le.fit_transform(ad.occupation)

In [17]:
ad['marital-status'] = le.fit_transform(ad['marital-status'])

In [18]:
ad.relationship = le.fit_transform(ad.relationship)

In [19]:
ad.race = le.fit_transform(ad.race)

In [20]:
ad.gender = le.fit_transform(ad.gender)

In [21]:
ad['native-country'] = le.fit_transform(ad['native-country'])

In [22]:
ad.income = le.fit_transform(ad.income)

In [23]:
ad.workclass = le.fit_transform(ad.workclass)

In [24]:
ad.head()

,age,workclass,fnlwgt,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,3,226802,7,4,6,3,2,1,0,0,40,38,0
1,38,3,89814,9,2,4,0,4,1,0,0,50,38,0
2,28,1,336951,12,2,10,0,4,1,0,0,40,38,1
3,44,3,160323,10,2,6,0,2,1,7688,0,40,38,1
4,18,3,103497,10,4,7,3,4,0,0,0,30,38,0

In [25]:
ad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              48842 non-null  int64
 1   workclass        48842 non-null  int32
 2   fnlwgt           48842 non-null  int64
 3   educational-num  48842 non-null  int64
 4   marital-status   48842 non-null  int32
 5   occupation       48842 non-null  int32
 6   relationship     48842 non-null  int32
 7   race             48842 non-null  int32
 8   gender           48842 non-null  int32
 9   capital-gain     48842 non-null  int64
 10  capital-loss     48842 non-null  int64
 11  hours-per-week   48842 non-null  int64
 12  native-country   48842 non-null  int32
 13  income           48842 non-null  int32
dtypes: int32(8), int64(6)
memory usage: 3.7 MB

# Data Sampling

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
ad_train , ad_test = train_test_split(ad , test_size=.2)

In [28]:
ad_train_x = ad_train.iloc[: , 0:-1]
ad_train_y = ad_train.iloc[: , -1]

In [29]:
ad_test_x = ad_test.iloc[: , 0:-1]
ad_test_y = ad_test.iloc[: , -1]

# model building using the KNN

In [30]:
from sklearn.neighbors import KNeighborsClassifier
ad_knn = KNeighborsClassifier()

In [31]:
ad_knn.fit(ad_train_x, ad_train_y)

KNeighborsClassifier()

In [32]:
pred_ad = ad_knn.predict(ad_test_x)

# confusion matrix

In [33]:
from sklearn.metrics import confusion_matrix
tab_ad = confusion_matrix(ad_test_y , pred_ad)

In [34]:
tab_ad

array([[6796,  601],
       [1565,  807]], dtype=int64)

In [44]:
tab_ad.diagonal().sum()*100/tab_ad.sum()

77.82782270447333

In [35]:
# as class imbalance problem is there therefore after rerunning and by duplicating the data for class 1

# perform on the decision tree

In [36]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [37]:
dt.fit(ad_train_x , ad_train_y)

DecisionTreeClassifier()

In [38]:
pred = dt.predict(ad_test_x)

In [39]:
tab_dt = confusion_matrix(ad_test_y , pred)

In [40]:
tab_dt 
# here it is giving the good result in term of knn

array([[6514,  883],
       [ 878, 1494]], dtype=int64)

In [43]:
tab_dt.diagonal().sum() *100/ tab_dt.sum() # accuracy

81.97358992732111

# Here conclution is decision tree is performing better though the hyperparameter tuning is not done